
__pycache__/personality_quiz.cpython-37.pyc
.idea/workspace.xml
.idea/Afternoon-Tea-m.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.DS_Store
plot*
