@font-face{
    font-family: angeline_vintage;
    src: url('angeline_vintage.ttf'),
    url('angeline_vintage.ttf');
    font-weight: bold;
}

body {
    font-family: angeline_vintage !important;
    background-color: #f06292 !important;
    color: #ffffff !important;
}

.jumbotron {
    margin-top: 20px;
    background-color: #f48fb1 !important;
}

#main-btn {
    background-color: #c60055 !important;
    border-color: #c60055 !important; 
    color:#ffffff; 
    font-size:1.2rem;
    margin-top:15px;
    padding-bottom:10px;
}

h1 {
    font-size:3rem !important;
}

#footer {
    color: #ffffff;
    margin-top: 50px;
}