<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
		<title>{% block title %}{% endblock %} - My Webpage</title>
	{% endblock %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
				integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
				crossorigin="anonymous">

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<div class="text-center" style="margin-top:30px;">
		<a id="main-btn" class="btn btn-md" href="/home">Home</a> 
        <a id="main-btn" class="btn btn-md" href="/about">About</a>
		<a id="main-btn" class="btn btn-md" href="/quiz">Take Quiz</a>
	</div>
    <div class="container" id="content">
		{% block content %}{% endblock %}
	</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2020 by <a href="/about" style="color:#ffffff">Afternoon Tea/m</a>.
        {% endblock %}
    </div>

</body>
</html>
