{% extends "fancylayout.html" %}

{% block content %}

    <div class="jumbotron text-center">
      <h1>Find Your Match! </h1>  
    </div>
    
  <form action='/quiz' method='POST'>

    <div class="text-center" style="margin-top: 50px; margin-bottom: 30px">
      <ol>
        <h2>{{state['question']}}</h2>
        {% for ans in state['answers'] %}
          <input style="margin-left:20px; margin-right:5px;" type='radio' value='{{ans}}' name='{{state["count"]}}' />{{ans}}
        {% endfor %}
      </ol>
      <input type="submit" value="submit" />
    </div>

  </form>

{% endblock %}